body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}
h1{
    color: #555;
}

form{
    max-width: 400px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;

}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button{
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover{
 background-color: #45e049;
}

table{
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td{
    padding: 12px;
    text-align: center;

}

th{
    background-color: #4caf50;
    color: white;
}

tr:nth-child(even){
    background-color: #f9f9f9;
}
tr:hover{
    background-color: #f1f1f1;
}

td:last-child button{
    margin-left: 5px;
}

#actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#actions button{
    background-color: #0af
}



#actions button:last-child{
    background-color: red;
}

#btnZap a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 10px;
}
#btnZap a:hover{
    opacity: 0.5;
}

#actions button:hover{
    opacity: 0.7;
    transition: .2s;
}

/* Modal */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.modal-content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 30%;
    border: 1px solid #888;  
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}